<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>练习</title>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="(item,index) in lists">
                <input type="checkbox" v-model="item.is" @change="checkAll(index)">
                <a href="javascript:;" v-text="item.name" style="text-decoration: none; color: #000;"
                    @click="item.isShow=!item.isShow"></a>
                <ul v-show="item.isShow">
                    <li v-for="value in item.list">
                        <input type="checkbox" v-model="value.sel" @change="checkOnce(index)">
                        <a href="javascript:;" v-text="value.val" style="text-decoration: none; color: #000;"></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</body>

</html>
<script src="../../node_modules/vue/dist/vue.js"></script>
<script src="../../node_modules/axios/dist/axios.js"></script>
<script>
    let vm = new Vue({
        el: '#app',
        created() {
            this.getData();
        },
        data: {
            lists: []
        },
        methods: {
            async getData() {
                this.lists = (await axios.get("json/List.json")).data
            },
            checkOnce(index) {
                this.lists[index].is = this.lists[index].list.every(item => item.sel)
            },
            checkAll(index) {
                this.lists[index].list.forEach(item => {
                    item.sel = this.lists[index].is ? true : false
                })
            },
        },
    })
</script>